/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
     position: sticky;
    top: 0px;
}

/* Navigation Bar: Logo and Image  */
#logo{
    margin: 15px 34px;  
}

#logo img{
    height: 60px;
    margin: 3px 10px;  
}

/* Navigation Bar: List Styling */

#navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: 0.4;
}
#navbar ul{
    display: flex;
}


#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
} 

#navbar ul li a:hover{
    color: cyan;
    background-color: black;
}

/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 2px 200px;
    height: 580px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
   position: absolute;
   background: url('../img/bg1.jpg') no-repeat center center/cover;
   height: 680px;
   width: 100%;
   top: 0px;
   left: 0px;
   z-index: -1;
   opacity: 0.90;
}

#home h1{
    text-align: center;
    color: white;
    font-family: 'Baloo Bhai 2', cursive;
}
#home p{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services section  */
#services{
    margin: 5px;
    display: flex;
}
#services .box{
    border: 2px solid red;
    padding: 30px;
    margin: 3px 8px;
    border-radius: 28px;
    background: rgb(255, 247, 248);
}
#services .box img{
    height: 180px;
    margin: auto;
    display: block;
}

#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 18px;
}

/* Clients Section  */
#client-section{
    /* height: 344px;  */
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    background: url('../img/img12.jpg')no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-items{
    padding: 40px;
}

#clients img{
    height: 124px;
}

/* Contact Section  */
#contact{
    position: relative;
}
#contact::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('../img/Contact.jpg')no-repeat center center/cover;
}

#contact-box{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    font-size: 1.1rem;
}

#contact-box form{
    width: 45%;
}
#contact-box label{
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive; 
}

.buttons{
    display: flex;
    margin: auto;
    padding: 10px 10px;
    font-size: 25px;
}

.buttons :hover{
    background: black;
    color: tomato;
}



footer{
    background: black;
    color: white;
    padding: 10px 20px;
}

/* Utility Classes  */
.h-primary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}
.h-secondary{
    font-size: 3.8rem;
    padding: 12px;
    font-family: 'Baloo Bhai 2', cursive;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(170, 26, 26);
    color: white;
    margin: 18px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color: tomato;
}

.center{
    text-align: center;
}